{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>MySklad - Responsive Admin Dashboard</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="MySklad" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <link href="{% static 'assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet">
        <link href="{% static 'assets/plugins/fullcalendar/vanillaCalendar.css' %}" rel="stylesheet" type="text/css"  />
        
        <link href="{% static 'assets/plugins/morris/morris.css' %}" rel="stylesheet">
 
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">

    </head>
<body>
    

{% block content %}
<h1>Add Product to Inventory</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Add to Inventory</button>
</form>

{% endblock %}

        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
        <script src="{% static 'assets/js/detect.js' %}"></script>
        <script src="{% static 'assets/js/fastclick.js' %}"></script>
        <script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'assets/js/waves.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
      
        <script src="{% static 'assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
        <script src="{% static 'assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
        
        <script src="{% static 'assets/plugins/skycons/skycons.min.js' %}"></script>
        <script src="{% static 'assets/plugins/fullcalendar/vanillaCalendar.js' %}"></script>
        
        <script src="{% static 'assets/plugins/raphael/raphael-min.js' %}"></script>
        <script src="{% static 'assets/plugins/morris/morris.min.js' %}"></script> 
         
        <script src="{% static 'assets/pages/dashborad.js' %}"></script>
      
        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %}"></script>
</body>