<!DOCTYPE html>
<html>
<head>
    <title>Client List</title>
    {% include 'base/links.html' %}
</head>
<body>
    <h1><a href="{% url 'client_list' %}">Mijozlar ro'yxati</a>
        <a href="{% url 'home' %}" class="logo">
            <button class="btn btn-outline-success waves-effect waves-light">Bosh sahifa </button>
        </a></h1>
    
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="mt-0 header-title">Mijozni izlash</h4>
                
                <form role="search" class="">
                    <input type="text" class="form-control col-md-5" name="q" col-md-4 placeholder="Search..." class="form-control">
                    <a href=""><button class="btn btn-outline-primary waves-effect waves-light"><i class="fa fa-search"></i> Qidiruv</button></a>
                    
                </form>
                
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ism familiyasi</th>
                        <th>Telefon raqami</th>
                        <th>
                            Qayd etgan ishchi
                        </th>
                        <th>
                            Qayd etilgan kun
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr>
                            <td>{{client.id}}</td>
                            <td><a href="{% url 'client_details' client.id %}">{{ client.client_name }}</a></td>
                            <td>{{ client.client_phonenumber }}</td>
                            <td>
                                {{client.ovner}}
                            </td>
                            <td>
                                {{client.client_reception_time}}
                            </td>
                            <!-- Add more columns as needed -->
                        </tr>
                        {% endfor %}
                    </tbody>

            </div>
        </div>
    </div> <!-- end col -->
</div>
    {% include 'base/js.html' %}

</body>
</html>
