<!DOCTYPE html>
<html>
<head>
    <title>Create Product</title>
    {% include 'base/links.html' %}
</head>
<body>
    
<div class="row">
    <div class="col-12">
    <h1>Yangi tovar kritish</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group col-12">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-outline-success waves-effect waves-light">Create Product</button>
        <a class="btn btn-outline-primary waves-effect waves-light" href="{% url 'product_list' %}">Tovarlar ro'yxatiga qaytish</a>
    </form>
    
    {% include 'base/js.html' %}
</div>
</div>
</body>
</html>
